@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope/manrope-regular.otf);
}

@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope/manrope-medium.otf);
    font-weight: medium;
    font-style: medium;
}

@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope/manrope-bold.otf);
    font-weight: bold;
    font-style: bold;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0, -5px);
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translate(0, 0px);
    }
    100% {
        opacity: 0;
        transform: translate(0, -5px);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes buyProduct {
    0% {
        opacity: 1;
        transform: translate(0, 0px) scale(1.0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 15px) scale(1.1);
    }
}

@keyframes boughtProduct {
    0% {
        transform: scale(1.0);
    }
    30% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes strike {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}

@keyframes hideUser {
    0% {
        transform: translate(0px, 0px)
    }
    100% {
        transform: translate(0px, 400px)
    }
}

@keyframes showUser {
    0% {
        transform: translate(0px, 400px)
    }
    100% {
        transform: translate(0px, 0px)
    }
}

@keyframes showList {
    0% {
        transform: scale(1.0)
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1.0)
    }
}

html {
    overflow-y: hidden;
    font-family: Manrope;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    padding: 0px;
    margin: 0px;
    overflow-y: hidden !important;
}

.sectionContainer {
    width: auto;
    height: 100vh;
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    padding-left: -50vw;
}

.reached {}

section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

section h1 {
    text-align: center;
    font-size: 3vh;
    line-height: 4.5vh;
    margin-bottom: 0px;
    pointer-events: none;

}

section a {}

.sectionInformation a {
    font-size: 1.8vh;
    cursor: pointer;
    pointer-events: all;
    background: rgb(255, 255, 255);
    padding: 4vw;
    padding-left: 6vw;
    padding-right: 6vw;
    font-weight: bold;
    text-align: center;
}

section p {
    font-size: 2vh;
    line-height: 4.2vh;
    margin-bottom: 10vw;
}

nav {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 6vw;
    margin-left: 25vw;
    margin-top: 6vw;
    justify-content: space-evenly;
    z-index: 270;
    pointer-events: none;

}

nav a {
    width: 1vw;
    height: 1vw;
    background: rgb(0, 0, 0);
    margin: 2.25vw;
    padding: 0.25vw;
    border-radius: 99999px;
    opacity: 0.1;
    transition: all 0.2s ease-in-out;
        pointer-events: all;

}

nav .active {
    opacity: 0.3;
    margin: 2vw;
    width: 1.5vw;
    height: 1.5vw;
}

.moreInformation {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 300;
    display: none;
}

.moreInformation .content {
    background: white;
    padding: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow: scroll;
    overflow-x: hidden;
    height: 70vh;
}

.moreInformation .content p {
    width: 70vw;
    margin-bottom: 4vh;
    padding-bottom: 3vh;
}

.moreInformation .content p:last-child {
    padding-bottom: 0vh;
}

.moreInformation a {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    left: 0px;
    z-index: 310;
    color: white;
    background-color: rgba(0, 0, 0, 0.658);
    background-image: url("../images/close.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    transition: all 0.2s ease-out;
}

.moreInformation img {
    width: 100vw;
    margin-left: -10vw;
}

.visible {
    display: block;
    opacity: 0;
    animation-timing-function: ease-out;
    /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
}

.sectionInformation {
    margin-left: 10vw;
    margin-top: 5vh;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 80vw;
    height: 100vh;
    opacity: 0;
    z-index: 200;
    animation-timing-function: ease-out;
    /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: both;
    animation-name: fadeOut;
    animation-duration: 0.2s;
    pointer-events: none;
    overflow: hidden;
}

.active .sectionInformation {
    animation-timing-function: ease-out;
    /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
}

.list {
    opacity: 0;
    position: absolute;
    width: 8vw;
    height: auto;
    background: white;
    top: 68vh;
    z-index: 270;
    right: 40vw;
    list-style-type: none;
    padding: 0.2vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    z-index: 250;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    pointer-events: none;

}

.showList {
    display: flex;
    animation-timing-function: ease-in-out;
    /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: both;
    animation-name: showList;
    animation-duration: 0.3s;
}

.upperRightList {
    right: 2vw;
    top: 6vh;
    width: auto;
    background: none;
}

.upperRightList .listelement {
    display: none;
}

.list li {
    padding: 1vw;
    margin: 0.3vw;
    padding-left: 1.5vw;
    border-radius: 1vw;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

ul li:last-child {
    display: none;
}

.upperRightList li:first-child {
    display: block;
}

.upperRightList li:last-child {
    display: block;
}

.list .bought {
    animation-timing-function: ease-in-out;
    /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: both;
    animation-name: boughtProduct;
    animation-duration: 0.4s;
}

.list .bought::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    margin-left: 20%;
    margin-right: 20%;
    height: 2px;
    background: black;
    animation-name: strike;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.listelement {
    background-image: url("../images/liste.svg");
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: -20%;
    left: 0px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.user {
    position: fixed;
    width: 100vw;
    height: 20vh;
    bottom: 0px;
    z-index: 250;
    background-image: url("../images/kunde.svg");
    background-size: auto 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    pointer-events: none;
    animation-timing-function: ease-out;
    /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: both;
    animation-name: showUser;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
}

.saysHello {
    background-image: url("../images/kunde_winkt.svg");
}

.writesList {
    background-image: url("../images/kunde_liste.svg");
}

.activates {
    background-image: url("../images/kunde_aktiviert.svg");
}

.buys {
    background-image: url("../images/kunde.svg");
}

.pays {
    background-image: url("../images/kunde_bezahlt.svg");
}

.finished {
    background-image: url("../images/kunde_freut.svg");
}

section:first-child {
    z-index: 260;
}

section:first-child .sectionInformation {
    position: absolute;
}

section:first-child a {
    background: rgb(24, 139, 112);
    color: white;
}

section:first-child img {
    width: 50vw;
    margin-left: 15vw;
}

.absoluteBasket {
    position: absolute;
    width: 100vw;
    height: 20vh;
    bottom: 0px;
    z-index: 240;
    background-image: url("../images/warenkorb.svg");
    background-size: auto 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    pointer-events: none;
}

.fixedBasket {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.shelves {
    width: 90vw;
    height: 25vh;
    background: rgb(216, 216, 216);
    left: 5vw;
    position: absolute;
    bottom: 0px;
}

.shelf {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    background: rgb(185, 185, 185);
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.productwrapper {
    width: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.product {
    background: rgb(133, 133, 133);
    width: 80%;
    height: 60%;
    bottom: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.active .listproduct {
    width: 100%;
    height: 70%;
}

.buyable {
    cursor: pointer;
}

.boughtProduct {
    animation-timing-function: ease-out;
    /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: both;
    animation-name: buyProduct;
    animation-duration: 0.4s;
}

.active .betterProduct {
    width: 85%;
    height: 85%;
}

.active .bestProduct {
    width: 100%;
    height: 90%;
}

.hide {
    animation-timing-function: ease-out;
    /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: both;
    animation-name: hideUser;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
}

.payed {
    top: -50vw;
}

.supermarket_background {
    background-color: rgb(243, 243, 243);
    background-image: url("../images/hintergrund_markt.svg");
    background-size: cover;
    background-repeat: repeat-x;
    background-size: 100% auto;
}

.checkout_background {
    background-color: rgb(243, 243, 243);
    background-image: url("../images/kasse.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto 20%;
    background-position: bottom center;
}

.outside_background {
    background-color: rgb(156, 209, 184);
    background-image: url("../images/hintergrund_aussen.svg");
    background-size: cover;
    background-repeat: repeat-x;
    background-size: 100% auto;
}

.start_background {
    background-color: rgb(255, 255, 255);
    background-image: url("../images/abstrakt.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: right top;
}

.active .sectionInformation a {
    pointer-events: all;
}

.sectionInformation a {
    pointer-events: none;
}

.navigation_buttons {
    position: fixed;
    width: 80vw;
    margin-left: 10vw;
    height: 25vh;
    z-index: 300;
    bottom: 0px;
    pointer-events: none;

}

.navigation_buttons button {
    position: absolute;
    font-size: 2.3vh;
    border: none;
    width: 6vw;
    height: 6vw;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/arrow.svg");
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s ease-out;
    pointer-events: all;


}

.navigation_buttons button:hover{
    background-size: 100% auto;
    cursor: pointer;


}

.navigation_buttons .last {
    left: 0px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navigation_buttons .next {
    right: 0px;
}

.buttonNotActive{
    opacity:0;
    pointer-events: none;


}

.hideStuff{
    opacity:0;
    pointer-events: none;
    cursor: default !important;

}


@media only screen and (min-width: 600px) {
    nav {
        width: 15vw;
        height: 6vw;
        margin-left: 10vw;
        margin-top: 10vh;
        pointer-events: scroll;
    }
    nav a {
        width: 0.1vw;
        height: 0.1vw;
        margin: 0.1vw;
        padding: 0.15vw;
        pointer-events: all;
    }
    nav a:hover {
        opacity: 0.3;
    }
    nav .active {
        margin: 0.05vw;
        width: 0.2vw;
        height: 0.2vw;
    }
    .sectionInformation {
        margin-top: 12vh;
    }
    section:first-child img {
        width: 20vw;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .user {
        height: 35vh;
    }
    .absoluteBasket {
        height: 35vh;
    }
    .list {
        opacity: 1;
    }
    .shelves {
        width: 60vw;
        height: 45vh;
        left: 40vw;
    }
    .shelf {
        margin-left: 3%;
        margin-top: 3%;
        width: 94%;
    }
    .product {
        height: 80%;
    }
    .active .listproduct {
        height: 95%;
    }
    section h1 {
        text-align: left;
    }
    section p {
        width: 40vw;
        margin-bottom: 2vw;
    }
    section .sectionInformation a {
        text-align: left;
        pointer-events: none;
        padding: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
        transition: all 0.2s ease-out;
    }
    section .moreInformation a:hover {
        cursor: pointer;
        background-size: auto 60%;
    }
    section .moreInformation img {
        width: 60vw;
        margin-left: 0px;
    }
    section .sectionInformation a:hover {
        color: white;
        background: black;
    }
    .supermarket_background {
        background-size: 50% auto;
    }
    .outside_background {
        background-size: 50% auto;
    }
    .checkout_background {
        background-size: auto 35%;
    }
    .user_background {
        background-size: 50% auto;
    }
    .moreInformation .content {
        padding-left: 20vw;
    }
    .moreInformation .content p {
        width: 45vw;
    }
    .start_background {
        background-size: 50% auto;
    }
}