//  This comment won't be included in the CSS.*

/* But this comment will, except in compressed mode.*/

/* It can also contain interpolation:
   1 + 1 = #{1 + 1}*/

/*! This comment will be included even in compressed mode.*/

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/manrope-regular.otf);
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/manrope-medium.otf);
  font-weight: medium;
  font-style: medium;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/manrope-bold.otf);
  font-weight: bold;
  font-style: bold;
}

html {
  font-family: Manrope;
}

body {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.topic {
  position: relative;
  width: 100vw;
  height: 30vh;
  background-color: rgb(245, 245, 245);
  margin-top: 10vh;
}

.subtopics {
  display: flex;
  align-items: flex-end;
  overflow-x: auto;
  height: 100%;
  width: 100%;
  z-index: 50;
  overflow-x: auto;
}

.shadow {
  background: rgb(238, 238, 238);
  height: 40%;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
}

.subtopic_container {
  height: 100%;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
  z-index:150;

}
.subtopic_container:first-child {
  margin-left: 20vw;
}

.subtopic_container:last-child {
  padding-right: 20vw;
}

.subtopic {
  background: rgb(185, 185, 185);
  height: 45vmin;
  width: 40vmin;
  transition: all 0.4s;
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  z-index:150;
}

.pricetag{


}

@media only screen and (min-width: 600px) {
  .topic {
    width: 80vw;
  }
  .subtopic_container:first-child {
    margin-left: 0vw;
  }

  .subtopic_container:last-child {
    padding-right: 0vw;
  }

  .subtopics {
    justify-content: center;
  }

  .subtopic_container {
    width: 14vw;
  }

  .subtopic {
    width: 11vmax;
    height: 13vmax;
  }

  .subtopic:hover {
    width: 12vmax;
    height: 14vmax;
    font-size: 14pt;
    z-index:200;
  }

  .highlighted {
    -webkit-box-shadow: 0px 0px 53px 28px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 53px 28px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 53px 28px rgba(255, 255, 255, 1);
  }
}

@media only screen and (min-width: 1100px) {
}
